<h2 mat-dialog-title>
  {{ habit ? 'Edit Habit' : 'Add Habit' }}
</h2>

<mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="submit()" class="habit-form">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="2"></textarea>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="center">

  <button mat-button mat-dialog-close>
    Cancel
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    [disabled]="form.invalid">

    Save

  </button>

</mat-dialog-actions>