<div class="habits-container">
    <div class="habits-header">
        <h2> 🏃 {{ i18n.get("titles.myHabits")}}</h2>

        <div class="date-nav">
            <button (click)="prevDay()">⬅</button>

            <span class="date">
                {{ i18n.get("habits.date")}}:{{ currentDate | date:'dd-MM-yyyy' }}
            </span>

            <button (click)="nextDay()">➡</button>
        </div>
        <button mat-raised-button id="add-button" color="primary" (click)="addHabit()">
            {{ i18n.get("habits.addHabit")}}
        </button>
    </div>

    <div class="habit-list">
        @for (habit of habitsWithStatistics(); track $index) {
        <mat-card class="habit-card">
            <mat-card-header>
                <mat-card-title>{{ habit.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="description">{{ habit.description }}</p>
                <div class="today-toggle">
                    <mat-checkbox [checked]="habit.completedToday" (change)="toggleToday(habit)">
                        {{ i18n.get("habits.completedToday")}}
                    </mat-checkbox>
                </div>
                <p class="progress-text">
                    {{ i18n.get("habits.progress")}}: {{ habit.completedDays }} / {{ habit.totalDays }} ({{
                    habit.completionRate }}%)
                </p>
                <mat-progress-bar mode="determinate" [value]="habit.completionRate"></mat-progress-bar>
            </mat-card-content>
            <mat-card-actions class="actions">
                <button mat-button color="primary" (click)="editHabit(habit)">
                    {{ i18n.get("actions.edit")}}
                </button>
                <button mat-button color="warn" (click)="deleteHabit(habit)">
                    {{ i18n.get("actions.delete")}}
                </button>
            </mat-card-actions>
        </mat-card>
        }
    </div>
</div>